{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">

  <h1 class='center'>Who I Am</h1>

  <section class='about_me_section'>

    <div class='image_div'>
    </div>

    <div>
      <p>Hi, my name is Mike Cuddy and I love building data science sites.
        Although I'm not a data scientist yet, I should soon be working towards
        starting a masters in Data Scientist. Over the past 2 to 2.5 years, I've
        built quite a few projects online focusing on looking at data. You'll be
        able to see some of them below. I have a background in history and
        political science so a lot of my projects tend to focus on social issues.
        Sometimes though, I like to look at other things such as UFO's! I hope
        you check out some of my videos and let me know what you think!
    </p>
    </div>

  </section>

  <hr>

  <!-- Data Science projects section -->
  <section class='data_sciene_projects'>

    <div>
      <h3>Nasa API</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_DIxJRKApOg"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
      picture-in-picture" allowfullscreen></iframe>
    </div>

    <div>
      <h3>Description</h3>
    </div>

    <div>
      <h3>Game Study</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/uudSTKVpxSk"
       frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
       picture-in-picture" allowfullscreen></iframe>
    </div>

    <div>
      <h3>Description</h3>
    </div>

    <div>
      <h3>UFO's</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/vzkZq-EPM10"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
       picture-in-picture" allowfullscreen></iframe>
    </div>

    <div>
      <h3>Description</h3>
    </div>

  </section>

  <!-- End of data science projects section -->

{% endblock %}
