/* The CSS in this file will cover the about page */

/***********************
CSS for section about me
************************/
.about_me_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  height: 600px;
  margin-left: 5%;
  margin-right: 5%;
}

.image_div {
  background-image: url(../img/cuddy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


/***********************
CSS on section about data projects.
************************/


/***********************
Media Query Code
************************/
@media only all and (max-width: 768px) {

  .about_me_section {
    grid-template-columns: 1fr;
  }

}
